<footer class=" bottom-0 left-0 z-20 bg-gray-600 flex flex-col h-28 w-full font-sans Roboto">
    <div class="mx-auto overflow-hidden mb-2">
        <img class="w-24 pt-5 mb-1 pl-3 pr-3" src="../../assets/logoBlanco.png" alt="">
        <hr class="border-t-2 border-white">
    </div>
    <div class="flex flex-row justify-center items-center align-middle gap-5">
        <a href="https://www.instagram.com/gabri_gs4" target="_blank"><img class="w-7" src="../../assets/instagram.png" alt=""></a>
        <a href="https://www.linkedin.com/in/gabriel-sanchez-garre/" target="_blank"><img class="w-7" src="../../assets/linkedin.png" alt=""></a>
        <a href="https://github.com/GabriGS4" target="_blank"><img class="w-6" src="../../assets/github.png" alt=""></a>

    </div>
</footer>
