<footer class=" bottom-0 left-0 z-20 bg-gray-600 flex flex-col h-28 w-full font-sans Roboto">
    <div class="mx-auto overflow-hidden mb-2">
        <img class="w-24 pt-5 mb-1 pl-3 pr-3" src="../../assets/logoBlanco.png" alt="">
        <hr class="border-t-2 border-white">
    </div>
    <div class="flex flex-row justify-center items-center align-middle gap-5">
        <a href="https://www.facebook.com/profile.php?id=100092524519715" target="_blank"><img class="w-7" src="../../assets/facebook.png" alt=""></a>
        <a href="https://www.instagram.com/c.a.s_recruitment/" target="_blank"><img class="w-7" src="../../assets/instagram.png" alt=""></a>
        <a href="https://twitter.com/CAS_RECRUITMENT" target="_blank"><img class="w-7" src="../../assets/twitter.PNG" alt=""></a>
        <a href="#" target="_blank"><img class="w-7" src="../../assets/linkedin.png" alt=""></a>
        <a href="https://www.youtube.com/@C.A.S_RECRUITMENT" target="_blank"><img class="w-7" src="../../assets/youtube.png" alt=""></a>

    </div>
</footer>