<!-- <div id="about-main" class="w-full h-full">
  <div class="bg-no-repeat bg-center bg-cover bg-fixed w-full"
       style="background-image: url('../../assets/aboutHeader.jpg');">
    <div class=" border-b-2 border-b-gray-600 w-full p-10 bg-white bg-opacity-80">
      <h1 class="text-left text-gray-700 text-2xl md:text-6xl  font-extrabold mb-5 ">SOBRE NOSOTROS</h1>
      <p class="text-sm md:text-xl text-gray-700 mb-5">
        Nos complace presentarnos como una empresa de contratación ubicada en Orihuela/Alicante.
      </p>
      <p class="text-sm md:text-xl text-gray-700 mb-5">
        Nuestro objetivo principal es encontrar el mejor puesto de trabajo para ti y ayudarte a dar cada uno de los pasos necesarios
        en esta nueva etapa de tu carrera. Nos enorgullece informar que trabajamos con países como Suiza, Austria, Canadá, Australia y Países Bajos.
      </p>
      <p class="text-sm md:text-xl text-gray-700 mb-5">
        Nos encargamos de ponernos en contacto con las empresas y encontrar el puesto que más se adecue a tus habilidades.
        Además, te ayudamos en todo el proceso de conseguir los papeles y las gestiones legales necesarias, como el empadronamiento, permisos, y más.
      </p>
      <p class="text-sm md:text-xl text-gray-700">
        Si tienes alguna duda sobre nuestros servicios, no dudes en contactarnos. Estamos a tu disposición para ayudarte
        en lo que necesites.
      </p>
    </div>
  </div>


    <div class="flex flex-col-reverse md:flex-row justify-center align-middle items-center md:gap-20 border-b-2 border-b-gray-600 w-full p-10 bg-white">
      <div class="rounded-xl m-5">
        <iframe class=" rounded-xl w-full h-full md:h-52 md:w-96" src="https://www.youtube.com/embed/Mmnrl4dGax8"
                frameborder="0"
                allowfullscreen></iframe>
      </div>
      <div class="flex flex-col justify-center items-start align-middle w-1/2">
        <h1 class="text-left text-gray-700 text-2xl md:text-6xl  font-extrabold mb-5 ">VÍDEO DE PRESENTACIÓN </h1>
        <p class="text-sm md:text-xl text-gray-700 mb-5">
          Descubre en este fascinante video un breve y dinámico resumen de nuestra apasionante labor!
          En nuestro compromiso por brindarte soluciones innovadoras, te invitamos a sumergirte en el fascinante mundo en el que nos desenvolvemos.
        </p>
      </div>
    </div>

<div class="bg-no-repeat bg-center bg-cover bg-fixed w-full"
  style="background-image: url('../../assets/imgAboutUs2.jpg');">
  <div class="flex flex-col items-start align-middle justify-start bg-gray-600 bg-opacity-70 rounded-xl p-5 w-1/2">
    <h3 class="text-white font-bold text-3xl">ORIENTACIÓN LABORAL</h3>
    <p class="text-white">¿Estás en búsqueda de oportunidades laborales? Mejora tus habilidades y prepárate para el
      éxito
      con la ayuda de nuestros expertos en orientación laboral. Obtén consejos valiosos y aprende de las mejores
      prácticas en el mundo del empleo. No pierdas más tiempo, da el primer paso hacia el trabajo de tus sueños hoy
      mismo.
      Recuerda que la preparación adecuada es clave para conseguir el empleo deseado. ¡Cuenta con nosotros y alcanza tus
      metas profesionales!
    </p>
  </div>
</div>

  <app-footer></app-footer>
</div> -->






























<div class="relative pt-16 pb-32 flex content-center items-center justify-center" style="min-height: 75vh;">
  <div class="absolute top-0 w-full h-full bg-center bg-cover bg-fixed" style='background-image: url("../../assets/mesa.jpg");'>
    <span id="blackOverlay" class="w-full h-full absolute opacity-75 bg-black"></span>
  </div>
  <div class="container relative mx-auto">
    <div class="items-center flex flex-wrap">
      <div class="w-full lg:w-6/12 px-4 ml-auto mr-auto text-center">

        <h1 class="text-white text-center font-semibold md:text-5xl text-3xl">
          SOBRE NOSOTROS
        </h1>
        <p class="mt-4 text-lg text-gray-300">
          ¡Descubre la empresa que te dará el impulso definitivo para hacer realidad tus sueños! Confía en nosotros
          para brindarte el apoyo y las soluciones que necesitas para triunfar.
          Juntos, haremos que tus sueños se conviertan en una realidad tangible. ¡No esperes más y déjanos ser tu
          aliado en este emocionante viaje hacia el éxito!" </p>

      </div>
    </div>
  </div>
  <div class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden"
    style="height: 70px;">
    <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
      version="1.1" viewBox="0 0 2560 100" x="0" y="0">
      <polygon class="text-gray-300 fill-current" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>
<section class="pb-20 bg-gray-300 -mt-24">
  <div class="container mx-auto px-4">
    <div class="flex flex-wrap">
      <div class="lg:pt-12 pt-6 w-full md:w-4/12 px-4 text-center">
        <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg">
          <div class="px-4 py-5 flex-auto">
            <div
              class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-red-400">
              <i class="fas fa-award"></i>
            </div>
            <h6 class="text-xl font-semibold">Trabajo Garantizado</h6>
            <p class="mt-2 mb-4 text-gray-600 text-justify">
              Confía en nosotros para abrirte las puertas a nuevas y emocionantes oportunidades laborales. Te
              acompañaremos en cada etapa del proceso, proporcionándote
              el apoyo necesario para alcanzar el éxito profesional que mereces. ¡No pierdas más tiempo buscando,
              déjanos hacer el trabajo por ti y asegurarte el trabajo de tus sueños!"
            </p>
          </div>
        </div>
      </div>
      <div class="w-full md:w-4/12 px-4 text-center">
        <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg">
          <div class="px-4 py-5 flex-auto">
            <div
              class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-blue-400">
              <i class="fas fa-retweet"></i>
            </div>
            <h6 class="text-xl font-semibold">Orientación Laboral</h6>
            <p class="mt-2 mb-4 text-gray-600 text-justify">
              ¿Estás en búsqueda de oportunidades laborales? Mejora tus habilidades y prepárate para el éxito con la
              ayuda de nuestros expertos en orientación laboral. Obtén consejos valiosos y aprende de las mejores
              prácticas en el mundo del empleo. No pierdas más tiempo, da el primer paso hacia el trabajo de tus
              sueños hoy mismo.
              Recuerda que la preparación adecuada es clave para conseguir el empleo deseado. ¡Cuenta con nosotros y
              alcanza tus metas profesionales!
            </p>
          </div>
        </div>
      </div>
      <div class="pt-6 w-full md:w-4/12 px-4 text-center">
        <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg">
          <div class="px-4 py-5 flex-auto">
            <div
              class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-green-400">
              <i class="fas fa-fingerprint"></i>
            </div>
            <h6 class="text-xl font-semibold">Protección De Datos</h6>
            <p class="mt-2 mb-4 text-gray-600 text-justify">
              De conformidad con lo dispuesto en la Ley Orgánica 15/1999, de 13 de diciembre, de Protección de Datos
              de Carácter Personal,
              se le informa que los datos por usted suministrados serán tratados con las medidas de seguridad conforme
              a la normativa vigente se requiere, pasando a formar parte de un fichero,
              inscrito legalmente en la Agencia Española de Protección de datos y con la finalidad de la gestión y
              administración del despacho profesional.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-wrap items-center mt-32">
      <div class="w-full md:w-5/12 px-4 mr-auto ml-auto">
        <div
          class="text-gray-600 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-gray-100">
          <i class="fas fa-user-friends text-xl"></i>
        </div>
        <h3 class="text-3xl mb-2 font-semibold leading-normal">
          ¿Quiénes Somos?
        </h3>
        <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-gray-700">
          Nos complace presentarnos como una empresa de contratación ubicada en Orihuela/Alicante.

          Nuestro objetivo principal es encontrar el mejor puesto de trabajo para ti y ayudarte a dar cada uno de los
          pasos necesarios en esta nueva etapa de tu carrera. Nos enorgullece informar que trabajamos con países como
          Suiza, Austria, Canadá, Australia y Países Bajos.

          Nos encargamos de ponernos en contacto con las empresas y encontrar el puesto que más se adecue a tus
          habilidades. Además, te ayudamos en todo el proceso de conseguir los papeles y las gestiones legales
          necesarias, como el empadronamiento, permisos, y más.
          Si tienes alguna duda sobre nuestros servicios, no dudes en contactarnos. Estamos a tu disposición para
          ayudarte en lo que necesites.
        </p>
        <a href="https://www.creative-tim.com/learning-lab/tailwind-starter-kit#/presentation"
          class="font-bold text-gray-800 mt-8">¡El empujón que necesitabas para cumplir tus sueños!</a>
      </div>
      <div class="w-full md:w-4/12 px-4 mr-auto ml-auto">
        <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg bg-blue-600">
          <img alt="..."
            src="https://images.unsplash.com/photo-1522202176988-66273c2fd55f?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1051&amp;q=80"
            class="w-full align-middle rounded-t-lg" />
          <blockquote class="relative p-8 mb-4">
            <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95"
              class="absolute left-0 w-full block" style="height: 95px; top: -94px;">
              <polygon points="-30,95 583,95 583,65" class="text-blue-400 fill-current"></polygon>
            </svg>
            <h4 class="text-xl font-bold text-white">
              VÍDEO DE PRESENTACIÓN
            </h4>
            <p class="text-md font-light mt-2 text-white">
              Descubre en este fascinante video un breve y dinámico
              resumen de nuestra apasionante labor! En nuestro compromiso por brindarte soluciones innovadoras,
              te invitamos a sumergirte en el fascinante mundo en el que nos desenvolvemos.
            </p>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="relative">
  <div class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20"
    style="height: 80px;">
    <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
      version="1.1" viewBox="0 0 2560 100" x="0" y="0">
      <polygon class="text-white fill-current" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
  <div class="container mx-auto ">
    <div class="items-center flex flex-wrap">
      <div class="w-full md:w-4/12 ml-auto mr-auto px-4">
        <img alt="..." class="max-w-full rounded-lg shadow-lg" src="../../assets/antolinos.jpg" />
      </div>
      <div class="w-full md:w-5/12 ml-auto mr-auto px-4">
        <div class="md:pr-12">
          <div
            class="text-white p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-blue-600">
            <i class="fas fa-rocket text-xl"></i>
          </div>
          <h3 class="text-3xl font-semibold">Descube a nuestro CEO</h3>
          <p class="mt-4 text-lg leading-relaxed text-gray-600 text-justify">
            ¡Hola a todos! Soy Carlos Antolinos, un joven empresario con una pasión inquebrantable por la excelencia y
            el crecimiento. Permítanme contarles un poco sobre mi apasionante viaje y cómo ha dado origen a nuestra
            increíble empresa de reclutamiento de profesionales.

            Desde que cumplí la mayoría de edad, me embarqué en una emocionante aventura por el extranjero, trabajando
            en diversos países. Esta experiencia me brindó una invaluable oportunidad para sumergirme en diferentes
            culturas, aprender de distintas perspectivas y perfeccionar mis habilidades empresariales.

            Cada paso en mi trayectoria profesional fue un escalón hacia la creación de esta empresa visionaria.
            Inspirado por la necesidad de conectar talentos excepcionales con las oportunidades adecuadas, decidí
            fundar nuestra empresa de reclutamiento. Nos enorgullece ser una plataforma que reúne a profesionales
            calificados y empresas de renombre, creando alianzas estratégicas que impulsan el éxito empresarial.

            En nuestra empresa, no solo nos enfocamos en encontrar candidatos con habilidades sobresalientes, sino que
            también nos aseguramos de comprender las necesidades únicas de cada empresa. Nuestro objetivo es
            establecer relaciones duraderas basadas en la confianza, la transparencia y el éxito mutuo.

            Si estás buscando profesionales altamente calificados para impulsar tu negocio hacia nuevas alturas, estás
            en el lugar adecuado. Permítenos demostrarte cómo nuestra experiencia y dedicación pueden marcar la
            diferencia en tu empresa.

          </p>

        </div>
      </div>
    </div>


    <section class="pb-20 relative block bg-gray-900">
      <div class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20"
        style="height: 80px;">
        <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
          version="1.1" viewBox="0 0 2560 100" x="0" y="0">
          <polygon class="text-gray-900 fill-current" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
      <div class="container mx-auto px-4 lg:pt-24 lg:pb-64">
        <div class="flex flex-wrap text-center justify-center">
          <div class="w-full lg:w-6/12 px-4">
            <h2 class="text-4xl font-semibold text-white">Saca Provecho de tu Potencial</h2>
            <p class="text-lg leading-relaxed mt-4 mb-4 text-gray-500">
              Descubre el poder de tu potencial y desata todo tu talento con nuestra empresa. Estamos aquí para
              brindarte
              las oportunidades y apoyo necesarios para que alcances niveles extraordinarios de éxito.
              Permítenos ser tu guía en el camino hacia la realización de tus metas y aprovecha al máximo tu capacidad.
            </p>
          </div>
        </div>
        <div class="flex flex-wrap mt-12 justify-center">
          <div class="w-full lg:w-3/12 px-4 text-center">
            <div
              class="text-gray-900 p-3 w-12 h-12 shadow-lg rounded-full bg-white inline-flex items-center justify-center">
              <i class="fas fa-medal text-xl"></i>
            </div>
            <h6 class="text-xl mt-5 font-semibold text-white">
              Excelente Servicio
            </h6>
            <p class="mt-2 mb-4 text-gray-500">
              Nuestro servicio excepcional te brinda la excelencia que mereces, superando tus expectativas en cada
              interacción.
            </p>
          </div>
          <div class="w-full lg:w-3/12 px-4 text-center">
            <div
              class="text-gray-900 p-3 w-12 h-12 shadow-lg rounded-full bg-white inline-flex items-center justify-center">
              <i class="fas fa-poll text-xl"></i>
            </div>
            <h5 class="text-xl mt-5 font-semibold text-white">
              Grandes Oportunidades
            </h5>
            <p class="mt-2 mb-4 text-gray-500">
              Nuestro enfoque dedicado y nuestra vasta red de contactos te conectarán con oportunidades excepcionales
              que
              se alinean con tus aspiraciones.
            </p>
          </div>
          <div class="w-full lg:w-3/12 px-4 text-center">
            <div
              class="text-gray-900 p-3 w-12 h-12 shadow-lg rounded-full bg-white inline-flex items-center justify-center">
              <i class="fas fa-lightbulb text-xl"></i>
            </div>
            <h5 class="text-xl mt-5 font-semibold text-white">Ahorra Tiempo</h5>
            <p class="mt-2 mb-4 text-gray-500">
              Libérate del agotador esfuerzo de buscar un trabajo acorde a tus habilidades y confía en nosotros para
              hacerlo por ti.
            </p>
          </div>
        </div>
      </div>
    </section>
<app-footer></app-footer>
