<div class="relative pt-16 pb-32 flex content-center items-center justify-center" style="min-height: 75vh;">
  <div class="absolute top-0 w-full h-full bg-center bg-cover bg-fixed" style='background-image: url("../../assets/mesa.jpg");'>
    <span id="blackOverlay" class="w-full h-full absolute opacity-75 bg-black"></span>
  </div>
  <div class="container relative mx-auto">
    <div class="items-center flex flex-wrap">
      <div class="w-full lg:w-6/12 px-4 ml-auto mr-auto text-center">

        <h1 class="text-white text-center font-semibold md:text-5xl text-3xl">
          SOBRE NOSOTROS
        </h1>
        <p class="mt-4 text-lg text-gray-300">
          ¡Descubre el impulso definitivo que necesitas para hacer realidad tus sueños!
          Confía en nuestro equipo para brindarte el apoyo y las soluciones necesarias para triunfar.
          Juntos, haremos que tus sueños se conviertan en una realidad tangible.
          ¡No pierdas tiempo y permítenos ser tu aliado en este emocionante viaje hacia el éxito!
        </p>

      </div>
    </div>
  </div>
  <div class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden"
    style="height: 70px;">
    <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
      version="1.1" viewBox="0 0 2560 100" x="0" y="0">
      <polygon class="text-gray-300 fill-current" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>
<section class="pb-20 bg-gray-300 -mt-24">
  <div class="container mx-auto px-4">
    <div class="flex flex-wrap">
      <div class="lg:pt-12 pt-6 w-full md:w-4/12 px-4 text-center">
        <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg">
          <div class="px-4 py-5 flex-auto">
            <div
              class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-red-400">
              <i class="fas fa-award"></i>
            </div>
            <h6 class="text-xl font-semibold">Trabajo Garantizado</h6>
            <p class="mt-2 mb-4 text-gray-600 text-center">
              Confía en nosotros para abrirte las puertas a nuevas y emocionantes oportunidades laborales. Te
              acompañaremos en cada etapa del proceso, proporcionándote
              el apoyo necesario para alcanzar el éxito profesional que mereces. ¡No pierdas más tiempo buscando,
              déjanos hacer el trabajo por ti y asegurarte el trabajo de tus sueños!"
            </p>
          </div>
        </div>
      </div>
      <div class="w-full md:w-4/12 px-4 text-center">
        <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg">
          <div class="px-4 py-5 flex-auto">
            <div
              class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-blue-400">
              <i class="fas fa-retweet"></i>
            </div>
            <h6 class="text-xl font-semibold">Orientación Laboral</h6>
            <p class="mt-2 mb-4 text-gray-600 text-justify">
              ¿Estás en búsqueda de oportunidades laborales? Mejora tus habilidades y prepárate para el éxito con la
              ayuda de nuestros expertos en orientación laboral. Obtén consejos valiosos y aprende de las mejores
              prácticas en el mundo del empleo. No pierdas más tiempo, da el primer paso hacia el trabajo de tus
              sueños hoy mismo.
              Recuerda que la preparación adecuada es clave para conseguir el empleo deseado. ¡Cuenta con nosotros y
              alcanza tus metas profesionales!
            </p>
          </div>
        </div>
      </div>
      <div class="pt-6 w-full md:w-4/12 px-4 text-center">
        <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg">
          <div class="px-4 py-5 flex-auto">
            <div
              class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-green-400">
              <i class="fas fa-fingerprint"></i>
            </div>
            <h6 class="text-xl font-semibold">Protección De Datos</h6>
            <p class="mt-2 mb-4 text-gray-600 text-justify">
              De conformidad con lo dispuesto en la Ley Orgánica 15/1999, de 13 de diciembre, de Protección de Datos
              de Carácter Personal,
              se le informa que los datos por usted suministrados serán tratados con las medidas de seguridad conforme
              a la normativa vigente se requiere, pasando a formar parte de un fichero,
              inscrito legalmente en la Agencia Española de Protección de datos y con la finalidad de la gestión y
              administración del despacho profesional.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-wrap items-center mt-32">
      <div class="w-full md:w-5/12 px-4 mr-auto ml-auto">
        <div
          class="text-gray-600 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-gray-100">
          <i class="fas fa-user-friends text-xl"></i>
        </div>
        <h3 class="text-3xl mb-2 font-semibold leading-normal">
          ¿Quiénes Somos?
        </h3>
        <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-gray-700">
          Nos complace presentarnos como una organización especializada en la búsqueda y colocación de talento,
          ubicada en Orihuela/Alicante. Nuestro principal objetivo es facilitar tu transición hacia una nueva etapa profesional,
          brindándote el apoyo necesario en cada paso del camino. Nos enorgullece destacar nuestras colaboraciones internacionales
          con países como Canadá, Australia, Reino Unido y Malta. Trabajamos en estrecha comunicación con diversas empresas para
          encontrar la posición laboral que mejor se adapte a tus habilidades y competencias. Además, ofrecemos asistencia integral
          en todo el proceso, incluyendo trámites legales como el empadronamiento, permisos y otros requerimientos. Si tienes alguna
          pregunta acerca de nuestros servicios, no dudes en contactarnos. Estamos aquí para brindarte la ayuda que necesitas.
        </p>
        <p
          class="font-bold text-gray-800 mt-8">¡El empujón que necesitabas para cumplir tus sueños!</p>
      </div>
      <div class="w-full md:w-4/12 px-4 mr-auto ml-auto">
        <div
          class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg"
        >
          <iframe class=" w-full align-middle rounded-t-lg h-52 md:h-64 "
                  src="https://www.youtube.com/embed/Mmnrl4dGax8"
                  frameborder="0"
                  allowfullscreen></iframe>
          <blockquote class="relative p-8 mb-4">
            <h4 class="text-xl font-bold text-gray-600">
              VÍDEO DE PRESENTACIÓN
            </h4>
            <p class="text-md font-light mt-2 text-gray-600">
              Descubre en este fascinante video un breve y dinámico
              resumen de nuestra apasionante labor! En nuestro compromiso por brindarte soluciones innovadoras,
              te invitamos a sumergirte en el fascinante mundo en el que nos desenvolvemos.
            </p>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="relative">
  <div>

    <div class="font-sans antialiased text-gray-900 leading-normal tracking-wider bg-transparent mb-52">

      <div class="max-w-4xl flex items-center h-full flex-wrap mx-auto mt-20 md:mt-10">

        <div id="profile"
             class="w-full lg:w-3/5 rounded-lg lg:rounded-l-lg lg:rounded-r-none shadow-2xl  mx-6 lg:mx-0">
          <div class="bg-colors">
            <div class="bg-colors bg-colors2"></div>
            <div class="bg-colors bg-colors3"></div>
          </div>
          <div class="p-4 md:p-12 text-center lg:text-left">
            <!-- Image for mobile view-->
            <div class="block lg:hidden rounded-full shadow-xl mx-auto -mt-16 h-48 w-48 bg-cover bg-center"
                 style="background-image: url('../../assets/antolinos.png')"></div>
            <h1 class="text-3xl font-bold pt-8 lg:pt-0">Descube a nuestro CEO</h1>
            <div class="mx-auto lg:mx-0 w-4/5 pt-3 border-b-2 border-sky-500 opacity-25"></div>
            <p class="pt-4 text-justify font-bold flex items-center justify-center lg:justify-start">
              ¡Hola a todos! Soy Carlos Antolinos, un caza talentos entusiasta comprometido en ayudar a las personas a encontrar oportunidades de formación y desarrollo, ya sea a través de estudios o empleos, facilitando la conexión entre individuos motivados y empresas colaboradoras.

              He tenido la fortuna de sumergirme en diversas culturas y trabajar en diferentes países, lo que me ha brindado una valiosa perspectiva sobre las dinámicas empresariales globales.

              Mi pasión radica en brindar orientación y apoyo a quienes buscan iniciar estudios académicos, pasantías o empleos a tiempo completo. Valorizo las colaboraciones estratégicas y el establecimiento de alianzas mutuamente beneficiosas. Si eres una empresa en busca de talento excepcional o una persona en búsqueda de oportunidades transformadoras para estudiar o trabajar y cambiar tu vida, estaré encantado de conversar contigo y analizar cómo podemos trabajar juntos.

              Mi objetivo es ser un facilitador en el proceso de desarrollo y crecimiento tanto para individuos como para empresas. Permíteme demostrarte cómo mi experiencia y enfoque pueden ayudarte en tu camino hacia el éxito. ¡Estoy emocionado de colaborar contigo y crear oportunidades valiosas que impulsen el crecimiento y desarrollo de todos los involucrados!            </p>
          </div>
        </div>
        <div class="w-full lg:w-2/5">
          <img src="../../assets/antolinos.png" class="rounded-none lg:rounded-lg shadow-2xl hidden lg:block">
        </div>
      </div>
    </div>

    <section class="pb-20 relative block bg-gray-900">
      <div class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20"
        style="height: 80px;">
        <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
          version="1.1" viewBox="0 0 2560 100" x="0" y="0">
          <polygon class="text-gray-900 fill-current" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
      <div class="container mx-auto px-4 lg:pt-24 lg:pb-64">
        <div class="flex flex-wrap text-center justify-center">
          <div class="w-full lg:w-6/12 px-4">
            <h2 class="text-4xl font-semibold text-white">Saca Provecho de tu Potencial</h2>
            <p class="text-lg leading-relaxed mt-4 mb-4 text-gray-500">
              Descubre el poder latente de tu potencial y libera todo tu talento junto a nuestro equipo.
              Estamos aquí para ofrecerte las oportunidades y el respaldo necesario para que puedas alcanzar niveles excepcionales de éxito.
              Permítenos acompañarte en el camino hacia la consecución de tus metas y exprime al máximo tu capacidad.
            </p>
          </div>
        </div>
        <div class="flex flex-wrap mt-12 justify-center">
          <div class="w-full lg:w-3/12 px-4 text-center">
            <div
              class="text-gray-900 p-3 w-12 h-12 shadow-lg rounded-full bg-white inline-flex items-center justify-center">
              <i class="fas fa-medal text-xl"></i>
            </div>
            <h6 class="text-xl mt-5 font-semibold text-white">
              Excelente Servicio
            </h6>
            <p class="mt-2 mb-4 text-gray-500">
              Nuestro servicio excepcional te brinda la excelencia que mereces, superando tus expectativas en cada
              interacción.
            </p>
          </div>
          <div class="w-full lg:w-3/12 px-4 text-center">
            <div
              class="text-gray-900 p-3 w-12 h-12 shadow-lg rounded-full bg-white inline-flex items-center justify-center">
              <i class="fas fa-poll text-xl"></i>
            </div>
            <h5 class="text-xl mt-5 font-semibold text-white">
              Grandes Oportunidades
            </h5>
            <p class="mt-2 mb-4 text-gray-500">
              Nuestro enfoque dedicado y nuestra vasta red de contactos te conectarán con oportunidades excepcionales
              que
              se alinean con tus aspiraciones.
            </p>
          </div>
          <div class="w-full lg:w-3/12 px-4 text-center">
            <div
              class="text-gray-900 p-3 w-12 h-12 shadow-lg rounded-full bg-white inline-flex items-center justify-center">
              <i class="fas fa-lightbulb text-xl"></i>
            </div>
            <h5 class="text-xl mt-5 font-semibold text-white">Ahorra Tiempo</h5>
            <p class="mt-2 mb-4 text-gray-500">
              Libérate del agotador esfuerzo de buscar un trabajo acorde a tus habilidades y confía en nosotros para
              hacerlo por ti.
            </p>
          </div>
        </div>
      </div>
    </section>

  </div>
  <app-footer></app-footer>
</section>

