<div id="about-main" class="w-full h-full">
  <div class="bg-no-repeat bg-center bg-cover bg-fixed w-full"
       style="background-image: url('../../assets/aboutHeader.jpg');">
    <div class=" border-b-2 border-b-gray-600 w-full p-10 bg-white bg-opacity-80">
      <h1 class="text-left text-gray-700 text-2xl md:text-6xl  font-extrabold mb-5 ">SOBRE NOSOTROS</h1>
      <p class="text-sm md:text-xl text-gray-700 mb-5">
        Nos complace presentarnos como una empresa de contratación ubicada en Orihuela/Alicante.
      </p>
      <p class="text-sm md:text-xl text-gray-700 mb-5">
        Nuestro objetivo principal es encontrar el mejor puesto de trabajo para ti y ayudarte a dar cada uno de los pasos necesarios
        en esta nueva etapa de tu carrera. Nos enorgullece informar que trabajamos con países como Suiza, Austria, Canadá, Australia y Países Bajos.
      </p>
      <p class="text-sm md:text-xl text-gray-700 mb-5">
        Nos encargamos de ponernos en contacto con las empresas y encontrar el puesto que más se adecue a tus habilidades.
        Además, te ayudamos en todo el proceso de conseguir los papeles y las gestiones legales necesarias, como el empadronamiento, permisos, y más.
      </p>
      <p class="text-sm md:text-xl text-gray-700">
        Si tienes alguna duda sobre nuestros servicios, no dudes en contactarnos. Estamos a tu disposición para ayudarte
        en lo que necesites.
      </p>
    </div>
  </div>


    <div class="flex flex-col-reverse md:flex-row justify-center align-middle items-center md:gap-20 border-b-2 border-b-gray-600 w-full p-10 bg-white">
      <div class="rounded-xl m-5">
        <iframe class=" rounded-xl w-full h-full md:h-52 md:w-96" src="https://www.youtube.com/embed/Mmnrl4dGax8"
                frameborder="0"
                allowfullscreen></iframe>
      </div>
      <div class="flex flex-col justify-center items-start align-middle w-1/2">
        <h1 class="text-left text-gray-700 text-2xl md:text-6xl  font-extrabold mb-5 ">VÍDEO DE PRESENTACIÓN </h1>
        <p class="text-sm md:text-xl text-gray-700 mb-5">
          Descubre en este fascinante video un breve y dinámico resumen de nuestra apasionante labor!
          En nuestro compromiso por brindarte soluciones innovadoras, te invitamos a sumergirte en el fascinante mundo en el que nos desenvolvemos.
        </p>
      </div>
    </div>

<div class="bg-no-repeat bg-center bg-cover bg-fixed w-full"
  style="background-image: url('../../assets/imgAboutUs2.jpg');">
  <div class="flex flex-col items-start align-middle justify-start bg-gray-600 bg-opacity-70 rounded-xl p-5 w-1/2">
    <h3 class="text-white font-bold text-3xl">ORIENTACIÓN LABORAL</h3>
    <p class="text-white">¿Estás en búsqueda de oportunidades laborales? Mejora tus habilidades y prepárate para el
      éxito
      con la ayuda de nuestros expertos en orientación laboral. Obtén consejos valiosos y aprende de las mejores
      prácticas en el mundo del empleo. No pierdas más tiempo, da el primer paso hacia el trabajo de tus sueños hoy
      mismo.
      Recuerda que la preparación adecuada es clave para conseguir el empleo deseado. ¡Cuenta con nosotros y alcanza tus
      metas profesionales!
    </p>
  </div>
</div>

  <app-footer></app-footer>
</div>
