.carousel-wrapper {
  width: 100%;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.2);
  margin: 0;
}

.carousel-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
}

.carousel {
  display: flex;
  width: 1200px;
  animation: sliding 6s infinite;
}
.carousel div {
  width: 400px;
  height: 250px;
  background-size: cover;
  background-position: center;
}
.carousel:hover {
  animation-play-state: paused;
}
.carousel .image-one {
  background-image: url("../../assets/imgHeaderCountries.jpg");
}
.carousel .image-two {
  background-image: url("../../assets/irlandaCarrusel.jpg");
}
.carousel .image-three {
  background-image: url("../../assets/canadaCarrusel.jpg");
}

@keyframes sliding {
  30% {
    transform: translateX(0);
  }
  35% {
    transform: translateX(-400px);
  }
  65% {
    transform: translateX(-400px);
  }
  70% {
    transform: translateX(-800px);
  }
  98% {
    transform: translateX(-800px);
  }
  100% {
    transform: translateX(0);
  }
}
