<div class="w-full h-full">


  <!--  <div class="carousel-container">
      <div class="carousel-slide">
        <div class="bg-cover bg-center bg-cover bg-fixed" style='background-image: url("./assets/imgHeaderCountries.jpg");'>
          <div
            class="absolute flex-col gap-5 p-20 items-center md:items-start justify-center text-white   bg-black bg-opacity-60">
            <h1 class="text-center md:text-left text-2xl md:text-9xl font-bold">PAÍSES</h1>
            <h4 class="text-justify md:text-left text-sm md:text-3xl font-semibold">CONTEMPLA OTRAS OPCIONES</h4>
            <h4 class="text-justify md:text-left text-sm md:text-3xl font-semibold">DISFRUTA DE TU EXPERIENCIA EN OTROS
              PAÍSES DEL MUNDO</h4>
          </div>
        </div>
        <div class="bg-cover bg-center bg-cover bg-fixed" style='background-image: url("./assets/irlandaCarrusel.jpg");'>
          <div
            class="absolute flex flex-col gap-5 p-20 items-center md:items-start justify-center text-white   bg-black bg-opacity-60">
            <h1 class="text-center md:text-left text-2xl md:text-9xl font-bold">IRLANDA</h1>
            <h4 class="text-justify md:text-left text-sm md:text-3xl font-semibold uppercase">La tierra donde la
              historia ancestral se encuentra con paisajes de ensueño,</h4>
            <h4 class="text-justify md:text-left text-sm md:text-3xl font-semibold uppercase">la música celta y la
              hospitalidad infinita</h4>
          </div>
        </div>
        <div class="bg-cover bg-center bg-cover bg-fixed" style='background-image: url("./assets/canadaCarrusel.jpg");'>
          <div
            class="absolute flex flex-col gap-5 p-20 items-center md:items-start justify-center text-white   bg-black bg-opacity-60">
            <h1 class="text-center md:text-left text-2xl md:text-9xl font-bold">CANADÁ</h1>
            <h4 class="text-justify md:text-left text-sm md:text-3xl font-semibold uppercase">Una nación diversa y
              acogedora donde la naturaleza </h4>
            <h4 class="text-justify md:text-left text-sm md:text-3xl font-semibold uppercase">majestuosa se fusiona con
              la hospitalidad incomparable</h4>
          </div>
        </div>
        <div class="bg-cover bg-center bg-cover bg-fixed" style='background-image: url("./assets/maltaCarrusel.jpg");'>
          <div
            class="absolute flex flex-col gap-5 p-20 items-center md:items-start justify-center text-white   bg-black bg-opacity-60">
            <h1 class="text-center md:text-left text-2xl md:text-9xl font-bold">MALTA</h1>
            <h4 class="text-justify md:text-left text-sm md:text-3xl font-semibold uppercase">Una joya mediterránea
              llena de encanto histórico, </h4>
            <h4 class="text-justify md:text-left text-sm md:text-3xl font-semibold uppercase">playas de ensueño y una
              cultura vibrante</h4>
          </div>
        </div>
        <div class="bg-cover bg-center bg-cover bg-fixed" style='background-image: url("./assets/reinoUnidoCarrusel.jpg");'>
          <div
            class="absolute flex flex-col gap-5 p-20 items-center md:items-start justify-center text-white   bg-black bg-opacity-60">
            <h1 class="text-center md:text-left text-2xl md:text-9xl font-bold">REINO UNIDO</h1>
            <h4 class="text-justify md:text-left text-sm md:text-3xl font-semibold uppercase">Una nación de rica
              historia, </h4>
            <h4 class="text-justify md:text-left text-sm md:text-3xl font-semibold uppercase">diversidad cultural y
              paisajes impresionantes</h4>
          </div>
        </div>
        <div class="bg-cover bg-center bg-cover bg-fixed" style='background-image: url("./assets/australiaCarrusel.jpg");'>
          <div
            class="absolute flex flex-col gap-5 p-20 items-center md:items-start justify-center text-white   bg-black bg-opacity-60">
            <h1 class="text-center md:text-left text-2xl md:text-9xl font-bold">AUSTRALIA</h1>
            <h4 class="text-justify md:text-left text-sm md:text-3xl font-semibold uppercase">Una tierra de vastas
              maravillas naturales,</h4>
            <h4 class="text-justify md:text-left text-sm md:text-3xl font-semibold uppercase"> una cultura diversa y
              experiencias inolvidables</h4>
          </div>
        </div>
      </div>
    </div>-->


  <!--  <div class="carousel relative relative overflow-hidden shadow-xl">
      <div class="carousel-inner relative overflow-hidden w-full">
        &lt;!&ndash;Slide 1&ndash;&gt;
        <input class="carousel-open hidden" type="radio" id="carousel-1" name="carousel" aria-hidden="true" hidden=""
               checked="checked">
        <div class="carousel-item absolute opacity-0 bg-center bg-cover bg-no-repeat"
             style="height:500px; background-image: url('./assets/imgHeaderCountries.jpg')">
          <div
            class="w-full h-full carousel-item flex-col gap-5 p-20 items-center md:items-start justify-center text-white   bg-black bg-opacity-60">
            <h1 class="text-center md:text-left text-2xl md:text-9xl font-bold">PAÍSES</h1>
            <h4 class="text-justify md:text-left text-sm md:text-3xl font-semibold">CONTEMPLA OTRAS OPCIONES</h4>
            <h4 class="text-justify md:text-left text-sm md:text-3xl font-semibold">DISFRUTA DE TU EXPERIENCIA EN OTROS
              PAÍSES DEL MUNDO</h4>
          </div>
        </div>
        <label for="carousel-6"
               class="control-1 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden font-bold text-white rounded-full bg-transparent hover:bg-sky-400 leading-tight text-center z-10 inset-y-0 left-0 my-auto flex justify-center content-center">
          <i class="fas fa-angle-left mt-3"></i>
        </label>
        <label for="carousel-2"
               class="next control-1 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden font-bold text-white rounded-full bg-transparent hover:bg-sky-400 leading-tight text-center z-10 inset-y-0 right-0 my-auto">
          <i class="fas fa-angle-right mt-3"></i>
        </label>

        &lt;!&ndash;Slide 2&ndash;&gt;
        <input class="carousel-open hidden" type="radio" id="carousel-2" name="carousel" aria-hidden="true" hidden="">
        <div class="carousel-item absolute opacity-0 bg-center bg-cover bg-no-repeat "
             style="height:500px; background-image: url('./assets/irlandaCarrusel.jpg')">
          <div
            class="w-full h-full carousel-item flex flex-col gap-5 p-20 items-center md:items-start justify-center text-white   bg-black bg-opacity-60">
            <h1 class="text-center md:text-left text-2xl md:text-9xl font-bold">IRLANDA</h1>
            <h4 class="text-justify md:text-left text-sm md:text-3xl font-semibold uppercase">La tierra donde la
              historia ancestral se encuentra con paisajes de ensueño,</h4>
            <h4 class="text-justify md:text-left text-sm md:text-3xl font-semibold uppercase">la música celta y la
              hospitalidad infinita</h4>
          </div>
        </div>
        <label for="carousel-1"
               class=" control-2 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden font-bold text-white rounded-full bg-transparent hover:bg-sky-400 leading-tight text-center z-10 inset-y-0 left-0 my-auto">
          <i class="fas fa-angle-left mt-3"></i>
        </label>
        <label for="carousel-3"
               class="next control-2 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden font-boldtext-white rounded-full bg-transparent hover:bg-sky-400 leading-tight text-center z-10 inset-y-0 right-0 my-auto">
          <i class="fas fa-angle-right mt-3"></i>
        </label>

        &lt;!&ndash;Slide 3&ndash;&gt;
        <input class="carousel-open hidden" type="radio" id="carousel-3" name="carousel" aria-hidden="true" hidden="">
        <div class="carousel-item absolute opacity-0 bg-center bg-cover bg-no-repeat"
             style="height:500px; background-image: url('./assets/canadaCarrusel.jpg')">
          <div
            class="w-full h-full carousel-item flex flex-col gap-5 p-20 items-center md:items-start justify-center text-white   bg-black bg-opacity-60">
            <h1 class="text-center md:text-left text-2xl md:text-9xl font-bold">CANADÁ</h1>
            <h4 class="text-justify md:text-left text-sm md:text-3xl font-semibold uppercase">Una nación diversa y
              acogedora donde la naturaleza </h4>
            <h4 class="text-justify md:text-left text-sm md:text-3xl font-semibold uppercase">majestuosa se fusiona con
              la hospitalidad incomparable</h4>
          </div>
        </div>
        <label for="carousel-2"
               class="control-3 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden font-bold text-white rounded-full bg-transparent hover:bg-sky-400 leading-tight text-center z-10 inset-y-0 left-0 my-auto">
          <i class="fas fa-angle-left mt-3"></i>
        </label>
        <label for="carousel-4"
               class="next control-3 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden font-bold text-white rounded-full bg-transparent hover:bg-sky-400 leading-tight text-center z-10 inset-y-0 right-0 my-auto">
          <i class="fas fa-angle-right mt-3"></i>
        </label>

        &lt;!&ndash;Slide 4&ndash;&gt;
        <input class="carousel-open hidden" type="radio" id="carousel-4" name="carousel" aria-hidden="true" hidden="">
        <div class="carousel-item absolute opacity-0 bg-center bg-cover bg-no-repeat"
             style="height:500px; background-image: url('./assets/maltaCarrusel.jpg')">
          <div
            class="w-full h-full carousel-item flex flex-col gap-5 p-20 items-center md:items-start justify-center text-white   bg-black bg-opacity-60">
            <h1 class="text-center md:text-left text-2xl md:text-9xl font-bold">MALTA</h1>
            <h4 class="text-justify md:text-left text-sm md:text-3xl font-semibold uppercase">Una joya mediterránea
              llena de encanto histórico, </h4>
            <h4 class="text-justify md:text-left text-sm md:text-3xl font-semibold uppercase">playas de ensueño y una
              cultura vibrante</h4>
          </div>
        </div>
        <label for="carousel-3"
               class="control-4 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden font-bold text-white rounded-full bg-transparent hover:bg-sky-400 leading-tight text-center z-10 inset-y-0 left-0 my-auto flex justify-center content-center">
          <i class="fas fa-angle-left mt-3"></i>
        </label>
        <label for="carousel-5"
               class="next control-4 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden font-bold text-white rounded-full bg-transparent hover:bg-sky-400 leading-tight text-center z-10 inset-y-0 right-0 my-auto">
          <i class="fas fa-angle-right mt-3"></i>
        </label>

        &lt;!&ndash;Slide 5&ndash;&gt;
        <input class="carousel-open hidden" type="radio" id="carousel-5" name="carousel" aria-hidden="true" hidden="">
        <div class="carousel-item absolute opacity-0 bg-center bg-cover bg-no-repeat "
             style="height:500px; background-image: url('./assets/reinoUnidoCarrusel.jpg')">
          <div
            class="w-full h-full carousel-item flex flex-col gap-5 p-20 items-center md:items-start justify-center text-white   bg-black bg-opacity-60">
            <h1 class="text-center md:text-left text-2xl md:text-9xl font-bold">REINO UNIDO</h1>
            <h4 class="text-justify md:text-left text-sm md:text-3xl font-semibold uppercase">Una nación de rica
              historia, </h4>
            <h4 class="text-justify md:text-left text-sm md:text-3xl font-semibold uppercase">diversidad cultural y
              paisajes impresionantes</h4>
          </div>
        </div>
        <label for="carousel-4"
               class=" control-5 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden font-bold text-white rounded-full bg-transparent hover:bg-sky-400 leading-tight text-center z-10 inset-y-0 left-0 my-auto">
          <i class="fas fa-angle-left mt-3"></i>
        </label>
        <label for="carousel-6"
               class="next control-5 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden font-bold text-white rounded-full bg-transparent hover:bg-sky-400 leading-tight text-center z-10 inset-y-0 right-0 my-auto">
          <i class="fas fa-angle-right mt-3"></i>
        </label>

        &lt;!&ndash;Slide 6&ndash;&gt;
        <input class="carousel-open hidden" type="radio" id="carousel-6" name="carousel" aria-hidden="true" hidden="">
        <div class="carousel-item absolute opacity-0 bg-center bg-cover bg-no-repeat"
             style="height:500px; background-image: url('./assets/australiaCarrusel.jpg')">
          <div
            class="w-full h-full carousel-item flex flex-col gap-5 p-20 items-center md:items-start justify-center text-white   bg-black bg-opacity-60">
            <h1 class="text-center md:text-left text-2xl md:text-9xl font-bold">AUSTRALIA</h1>
            <h4 class="text-justify md:text-left text-sm md:text-3xl font-semibold uppercase">Una tierra de vastas
              maravillas naturales,</h4>
            <h4 class="text-justify md:text-left text-sm md:text-3xl font-semibold uppercase"> una cultura diversa y
              experiencias inolvidables</h4>
          </div>
        </div>
        <label for="carousel-5"
               class="control-6 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden font-bold text-white rounded-full bg-transparent hover:bg-sky-400 leading-tight text-center z-10 inset-y-0 left-0 my-auto">
          <i class="fas fa-angle-left mt-3"></i>
        </label>
        <label for="carousel-1"
               class="next control-6 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden font-bold text-white rounded-full bg-transparent hover:bg-sky-400 leading-tight text-center z-10 inset-y-0 right-0 my-auto">
          <i class="fas fa-angle-right mt-3"></i>
        </label>
      </div>
    </div>-->


  <div
    id="carouselExampleControls"
    class="relative"
    data-te-carousel-init
    data-te-carousel-slide>

    <div
      class="relative w-full h-[400px] overflow-hidden after:clear-both after:block after:content-['']">

      <div
        class="relative float-left -mr-[100%] w-full h-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none bg-cover bg-center"
        data-te-carousel-item
        data-te-carousel-active style='background-image: url({{imgCarusel[0].paises}});'>
        <div
          class="w-full h-full flex-col gap-5 p-20 items-center md:items-start justify-center text-white   bg-black bg-opacity-60">
          <h1 class="text-center md:text-left text-2xl md:text-9xl font-bold">PAÍSES</h1>
          <h4 class="text-justify md:text-left text-sm md:text-3xl font-semibold">CONTEMPLA OTRAS OPCIONES</h4>
          <h4 class="text-justify md:text-left text-sm md:text-3xl font-semibold">DISFRUTA DE TU EXPERIENCIA EN OTROS
            PAÍSES DEL MUNDO</h4>
        </div>

      </div>

      <div
        class="relative float-left -mr-[100%] hidden w-full h-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none bg-cover bg-center"
        data-te-carousel-item style='background-image: url({{imgCarusel[1].irlanda}});'>
        <div
          class="w-full h-full flex flex-col gap-5 p-20 items-center md:items-start justify-center text-white   bg-black bg-opacity-60">
          <h1 class="text-center md:text-left text-2xl md:text-9xl font-bold">IRLANDA</h1>
          <h4 class="text-justify md:text-left text-sm md:text-3xl font-semibold uppercase">La tierra donde la
            historia ancestral se encuentra con paisajes de ensueño,</h4>
          <h4 class="text-justify md:text-left text-sm md:text-3xl font-semibold uppercase">la música celta y la
            hospitalidad infinita</h4>
        </div>
      </div>

      <div
        class="relative float-left -mr-[100%] hidden w-full h-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none bg-cover bg-center"
        data-te-carousel-item style='background-image: url({{imgCarusel[2].canada}});'>
        <div
          class="w-full h-full flex flex-col gap-5 p-20 items-center md:items-start justify-center text-white   bg-black bg-opacity-60">
          <h1 class="text-center md:text-left text-2xl md:text-9xl font-bold">CANADÁ</h1>
          <h4 class="text-justify md:text-left text-sm md:text-3xl font-semibold uppercase">Una nación diversa y
            acogedora donde la naturaleza </h4>
          <h4 class="text-justify md:text-left text-sm md:text-3xl font-semibold uppercase">majestuosa se fusiona con
            la hospitalidad incomparable</h4>
        </div>
      </div>
      <div
        class="relative float-left -mr-[100%] hidden w-full h-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none bg-cover bg-center"
        data-te-carousel-item style='background-image: url({{imgCarusel[3].malta}});'>
        <div
          class="w-full h-full flex flex-col gap-5 p-20 items-center md:items-start justify-center text-white   bg-black bg-opacity-60">
          <h1 class="text-center md:text-left text-2xl md:text-9xl font-bold">MALTA</h1>
          <h4 class="text-justify md:text-left text-sm md:text-3xl font-semibold uppercase">Una joya mediterránea
            llena de encanto histórico, </h4>
          <h4 class="text-justify md:text-left text-sm md:text-3xl font-semibold uppercase">playas de ensueño y una
            cultura vibrante</h4>
        </div>
      </div>
      <div
        class="relative float-left -mr-[100%] hidden w-full h-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none bg-cover bg-center"
        data-te-carousel-item style='background-image: url({{imgCarusel[4].reinoUnido}});'>
        <div
          class="w-full h-full flex flex-col gap-5 p-20 items-center md:items-start justify-center text-white   bg-black bg-opacity-60">
          <h1 class="text-center md:text-left text-2xl md:text-9xl font-bold">REINO UNIDO</h1>
          <h4 class="text-justify md:text-left text-sm md:text-3xl font-semibold uppercase">Una nación de rica
            historia, </h4>
          <h4 class="text-justify md:text-left text-sm md:text-3xl font-semibold uppercase">diversidad cultural y
            paisajes impresionantes</h4>
        </div>
      </div>
      <div
        class="relative float-left -mr-[100%] hidden w-full h-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none bg-cover bg-center"
        data-te-carousel-item style='background-image: url({{imgCarusel[5].australia}});'>
        <div
          class="w-full h-full flex flex-col gap-5 p-20 items-center md:items-start justify-center text-white   bg-black bg-opacity-60">
          <h1 class="text-center md:text-left text-2xl md:text-9xl font-bold">AUSTRALIA</h1>
          <h4 class="text-justify md:text-left text-sm md:text-3xl font-semibold uppercase">Una tierra de vastas
            maravillas naturales,</h4>
          <h4 class="text-justify md:text-left text-sm md:text-3xl font-semibold uppercase"> una cultura diversa y
            experiencias inolvidables</h4>
        </div>
      </div>
    </div>

    <!--Carousel controls - prev item-->
    <button
      class="absolute bottom-0 left-0 top-0 z-[1] flex w-[15%] items-center justify-center border-0 bg-none p-0 text-center text-white opacity-50 transition-opacity duration-150 ease-[cubic-bezier(0.25,0.1,0.25,1.0)] hover:text-white hover:no-underline hover:opacity-90 hover:outline-none focus:text-white focus:no-underline focus:opacity-90 focus:outline-none motion-reduce:transition-none"
      type="button"
      data-te-target="#carouselExampleControls"
      data-te-slide="prev">
    <span class="inline-block h-8 w-8">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="h-6 w-6">
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M15.75 19.5L8.25 12l7.5-7.5"/>
      </svg>
    </span>
      <span
        class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]"
      >Previous</span
      >
    </button>
    <!--Carousel controls - next item-->
    <button
      class="absolute bottom-0 right-0 top-0 z-[1] flex w-[15%] items-center justify-center border-0 bg-none p-0 text-center text-white opacity-50 transition-opacity duration-150 ease-[cubic-bezier(0.25,0.1,0.25,1.0)] hover:text-white hover:no-underline hover:opacity-90 hover:outline-none focus:text-white focus:no-underline focus:opacity-90 focus:outline-none motion-reduce:transition-none"
      type="button"
      data-te-target="#carouselExampleControls"
      data-te-slide="next">
    <span class="inline-block h-8 w-8">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="h-6 w-6">
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M8.25 4.5l7.5 7.5-7.5 7.5"/>
      </svg>
    </span>
      <span
        class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]"
      >Next</span
      >
    </button>
  </div>


  <div class="flex flex-col md:flex-row justify-center align-middle items-center gap-10 m-10">
    <div class="relative h-44 w-80 cursor-pointer  hover:scale-105 hover:ease-in duration-300" (click)="irlanda()">
      <div class="absolute inset-0 bg-center bg-cover bg-no-repeat rounded-lg "
           style="background-image: url('../../assets/irlandaBoton.jpg');"></div>
      <div
        class="absolute inset-0 bg-white bg-opacity-0 rounded-lg  backdrop-blur-sm hover:backdrop-blur-0 hover:bg-transparent hover:scale-105 hover:ease-in duration-300  flex items-center justify-center">
        <span class="text-white font-bold text-lg text-center lg:text-4xl">IRLANDA</span>
      </div>
    </div>
    <div class="relative h-44 w-80 cursor-pointer  hover:scale-105 hover:ease-in duration-300" (click)="canada()">
      <div class="absolute inset-0 bg-center bg-cover bg-no-repeat rounded-lg "
           style="background-image: url('../../assets/canadaBoton.jpg');"></div>
      <div
        class="absolute inset-0 bg-white bg-opacity-0 rounded-lg  backdrop-blur-sm hover:backdrop-blur-0 hover:bg-transparent hover:scale-105 hover:ease-in duration-300  flex items-center justify-center">
        <span class="text-white font-bold text-lg text-center lg:text-4xl">CANADÁ</span>
      </div>
    </div>
    <div class="relative h-44 w-80 cursor-pointer hover:scale-105 hover:ease-in duration-300" (click)="malta()">
      <div class="absolute inset-0 bg-center bg-cover bg-no-repeat rounded-lg"
           style="background-image: url('../../assets/maltaBoton.jpg');"></div>
      <div
        class="absolute inset-0 bg-white bg-opacity-0 rounded-lg hover:backdrop-blur-0 hover:bg-transparent hover:scale-105 hover:ease-in duration-300  backdrop-blur-sm flex items-center justify-center">
        <span class="text-white font-bold text-lg text-center lg:text-4xl">MALTA</span>
      </div>
    </div>
    <div class="relative h-44 w-80 cursor-pointer hover:scale-105 hover:ease-in duration-300" (click)="reinoUnido()">
      <div class="absolute inset-0 bg-center bg-cover bg-no-repeat rounded-lg"
           style="background-image: url('../../assets/reinoUnidoBoton.jpg');"></div>
      <div
        class="absolute inset-0 bg-white bg-opacity-0 rounded-lg  backdrop-blur-sm hover:backdrop-blur-0 hover:bg-transparent hover:scale-105 hover:ease-in duration-300 flex items-center justify-center">
        <span class="text-white font-bold text-lg text-center lg:text-4xl">REINO UNIDO</span>
      </div>
    </div>
    <div class="relative h-44 w-80 cursor-pointer hover:scale-105 hover:ease-in duration-300" (click)="australia()">
      <div class="absolute inset-0 bg-center bg-cover bg-no-repeat rounded-lg"
           style="background-image: url('../../assets/australiaBoton.jpg');"></div>
      <div
        class="absolute inset-0 bg-white bg-opacity-0 rounded-lg  backdrop-blur-sm hover:backdrop-blur-0 hover:bg-transparent hover:scale-105 hover:ease-in duration-300 flex items-center justify-center">
        <span class="text-white font-bold text-lg text-center lg:text-4xl">AUSTRALIA</span>
      </div>
    </div>
  </div>
  <div class="bg-no-repeat bg-center bg-cover bg-fixed w-full p-3 md:p-20 backdrop-blur-0"
       style="background-image: url('../../assets/imgcountries.jpg');">
    <div class="text-center p-5 m-10 bg-white rounded-lg relative">
  <span class="float-right absolute top-0 right-0 mr-2 mt-1 mb-2">
    <i class="fas fa-info-circle text-sky-400 text-xl"></i>
  </span>
      Trabajar en el extranjero es una experiencia única que ofrece múltiples ventajas y beneficios.
      Descubrir nuevas culturas, aprender idiomas y ampliar tus horizontes profesionales son solo algunos de los
      atractivos que esta aventura te puede proporcionar.
      Además, trabajar en el extranjero te permite desarrollar habilidades interculturales y adaptarte a diferentes
      entornos laborales, lo que sin duda aumentará tu valor en el mercado laboral. También tendrás la oportunidad de
      hacer conexiones internacionales y ampliar tu red de contactos. Y no olvidemos los beneficios financieros, ya que
      trabajar en ciertos países puede ofrecer salarios más altos y mejores condiciones laborales. ¡Atrévete a explorar
      el mundo laboral y descubre todas las oportunidades que te esperan en el extranjero!
    </div>

  </div>
  <app-footer></app-footer>
</div>
