.carousel-container {
  overflow: hidden;
}

.carousel-slide {
  display: flex;
  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  height: 400px; /* Ajusta la altura deseada */
}

.carousel-slide div {
  flex-shrink: 0;
  width: 100%; /* Ajusta el ancho de cada imagen */
  height: 100%;
  object-fit: cover;
}

.carousel-container .carousel-slide {
  animation: carousel 17s infinite; /* Ajusta la duración de la animación */
}

@keyframes carousel {
  0%, 100% {
    transform: translateX(0%);
  }
  16.666% {
    transform: translateX(0%);
  }
  33.333% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-200%);
  }
  66.666% {
    transform: translateX(-300%);
  }
  83.333% {
    transform: translateX(-400%);
  }
  100% {
    transform: translateX(-500%);
  }
}
