<h1 class="text-center text-sky-300 text-6xl p-10 mt-20 font-extrabold">PAÍSES</h1>
<h3 class="text-center text-gray-600 p-7 mt-32 text-lg md:text-2xl font-bold">CONTEMPLA OTRAS OPCIONES</h3>
<h1 class="text-center text-sky-300  text-lg md:text-2xl font-bold">DISFRUTA DE TU EXPERIENCIA EN OTROS PAÍSES DE EUROPA
</h1>
<div class="flex flex-col md:flex-row justify-center align-middle items-center gap-10 m-10">
    <div class="relative h-44 w-80 cursor-pointer">
        <div class="absolute inset-0 bg-center bg-cover bg-no-repeat rounded-lg"
            style="background-image: url('../../assets/holandaPaisaje.jpg');"></div>
        <div
            class="absolute inset-0 bg-white bg-opacity-0 rounded-lg  backdrop-blur-sm flex items-center justify-center">
            <span class="text-white font-bold text-4xl">PAÍSES BAJOS</span>
        </div>
    </div>
    <div class="relative h-44 w-80 cursor-pointer">
        <div class="absolute inset-0 bg-center bg-cover bg-no-repeat rounded-lg"
            style="background-image: url('../../assets/austriaPaisaje.jpg');"></div>
        <div
            class="absolute inset-0 bg-white bg-opacity-0 rounded-lg  backdrop-blur-sm flex items-center justify-center">
            <span class="text-white font-bold text-4xl">AUSTRIA</span>
        </div>
    </div>
    <div class="relative h-44 w-80 cursor-pointer">
        <div class="absolute inset-0 bg-center bg-cover bg-no-repeat rounded-lg"
            style="background-image: url('../../assets/suizaPaisaje.jpg');"></div>
        <div
            class="absolute inset-0 bg-white bg-opacity-0 rounded-lg  backdrop-blur-sm flex items-center justify-center">
            <span class="text-white font-bold text-4xl">SUIZA</span>
        </div>
    </div>

</div>