<div class="w-full h-full">
  <div class="bg-colors">
    <div class="bg-colors bg-colors2"></div>
    <div class="bg-colors bg-colors3"></div>
  </div>
  <div class="pb-14">

    <div class="flex justify-center items-center align-middle mt-10 slide-in-bottom-h1">
      <img style="max-width: 320px;" src="./assets/logoAzul.png" alt="">

    </div>
  </div>




  <div class="mx-auto container py-8">
    <div class="flex flex-wrap items-center lg:justify-between justify-center">

      <div class="mx-2 w-72 lg:mb-0 mb-8 cursor-pointer hover:scale-105 hover:ease-in duration-300   fade-in"
        (click)="constructorDetails()" routerLink="/trabajos-details">
        <div class="bounce-top-icons">
          <img [src]="imgUrlConstructor" class="w-full h-44 rounded-t-xl" />
        </div>
        <div class="bg-white rounded-b-xl bounce-top-icons">
          <div class="p-4">
            <h2 class="text-lg font-semibold text-center">{{constructorTitulo}}</h2>
          </div>
        </div>
      </div>

      <div class="mx-2 w-72 lg:mb-0 mb-8 cursor-pointer hover:scale-105 hover:ease-in duration-300   fade-in"
        (click)="plumberDetails()" routerLink="/trabajos-details">
        <div class="bounce-top-icons">
          <img [src]="imgUrlPlumber" class="w-full h-44 rounded-t-xl" />
        </div>
        <div class="bg-white rounded-b-xl bounce-top-icons">
          <div class="p-4">
            <h2 class="text-lg font-semibold text-center">{{plumberTitulo}}</h2>
          </div>
        </div>
      </div>

      <div class="mx-2 w-72 lg:mb-0 mb-8 cursor-pointer hover:scale-105 hover:ease-in duration-300   fade-in"
        (click)="electricianDetails()" routerLink="/trabajos-details">
        <div class="bounce-top-icons">
          <img [src]="imgUrlElectrician" class="w-full h-44 rounded-t-xl" />
        </div>
        <div class="bg-white rounded-b-xl bounce-top-icons">
          <div class="p-4">
            <h2 class="text-lg font-semibold text-center">{{electricianTitulo}}</h2>
          </div>
        </div>
      </div>

      <div class="w-72 mx-2 lg:mb-0 mb-8 cursor-pointer hover:scale-105 hover:ease-in duration-300   fade-in"
        (click)="montageDetails()" routerLink="/trabajos-details">
        <div class="bounce-top-icons">
          <img [src]="imgUrlMontage" class="w-full h-44 rounded-t-xl" />
        </div>
        <div class="bg-white rounded-b-xl bounce-top-icons">
          <div class="p-4">
            <h2 class="text-lg font-semibold text-center">{{ montageTitulo }}</h2>
          </div>
        </div>
      </div>

    </div>
  </div>




</div>
<app-footer></app-footer>
