<div class="w-full h-full bg-gray-200">

  <h1 class="text-center text-sky-300 text-6xl p-10 pt-20 font-extrabold">AYUDA</h1>
  <h3 class="text-gray-700 text-3xl text-center font-bold m-5">PREGUNTAS FRECUENTES</h3>


  <div class="bg-gray-200">
    <!-- Remove py-8 -->
    <div class="mx-auto container py-8">
      <div class="flex flex-wrap items-center lg:justify-between justify-center">
        <!-- Card 1 -->
        <div class="mx-2 w-72 lg:mb-0 mb-8 cursor-pointer" (click)="habilidadesDetails()" routerLink="/help-details">
          <div>
            <img src="./assets/help1.jpg" class="w-full h-44 rounded-t-xl"/>
          </div>
          <div class="bg-white rounded-b-xl">
            <div class="p-4">
              <h2 class="text-lg font-semibold text-center">{{habilidadesTitulo}}</h2>
              <p class="text-xs text-gray-600 mt-2">
                El proceso de adquirir la capacidad de reconocer y familiarizarse con tus aptitudes implica sumergirte...
              </p>
            </div>
          </div>
        </div>
        <!-- Card 1 Ends -->
        <!-- Card 2 -->
        <div class="mx-2 w-72 lg:mb-0 mb-8 cursor-pointer" (click)="confiarDetails()" routerLink="/help-details">
          <div>
            <img src="./assets/help2.jpg" class="w-full h-44 rounded-t-xl"/>
          </div>
          <div class="bg-white rounded-b-xl">
            <div class="p-4">
              <h2 class="text-lg font-semibold text-center">{{confiarTitulo}}</h2>
              <p class="text-xs text-gray-600 mt-2">
                Deseamos convertirnos en un aliado confiable y comprometido, dispuesto a abordar todos tus desafíos...
              </p>
            </div>
          </div>
        </div>
        <!-- Card 2 Ends -->
        <!-- Card 3  -->
        <div class="mx-2 w-72 lg:mb-0 mb-8 cursor-pointer" (click)="idiomasDetails()" routerLink="/help-details">
          <div>
            <img src="./assets/help2.jpg" class="w-full h-44 rounded-t-xl"/>
          </div>
          <div class="bg-white rounded-b-xl">
            <div class="p-4">
              <h2 class="text-lg font-semibold text-center">{{idiomasTitulo}}</h2>
              <p class="text-xs text-gray-600 mt-2">
                Definitivamente, ir a trabajar al extranjero sin saber idiomas es una aventura emocionante...
              </p>
            </div>
          </div>
        </div>
        <!-- Card 3 Ends -->
        <!-- Card 4  -->
        <div class="w-72 mx-2 lg:mb-0 mb-8 cursor-pointer">
          <div>
            <img src="./assets/help3.jpg" class="w-full h-44 rounded-t-xl"/>
          </div>
          <div class="bg-white rounded-b-xl">
            <div class="p-4">
              <h2 class="text-lg font-semibold text-center">¿Qué documentación necesito?</h2>
              <p class="text-xs text-gray-600 mt-2">
                The Apple iPhone XS is available in 3 colors with 64GB memory. Shoot
                amazing videos
              </p>
            </div>
          </div>
        </div>
        <!-- Card 4 Ends -->
      </div>
      <div class="flex flex-wrap items-center lg:justify-between justify-center pb-10 mt-16">
        <!-- Card 1 -->
        <div class="mx-2 w-72 lg:mb-0 mb-8 cursor-pointer" (click)="diferenciaDetails()" routerLink="/help-details">
          <div>
            <img src="./assets/help3.jpg" class="w-full h-44 rounded-t-xl"/>
          </div>
          <div class="bg-white rounded-b-xl">
            <div class="p-4">
              <h2 class="text-lg font-semibold text-center">
                {{diferenciaTitulo}}
              </h2>
              <p class="text-xs text-gray-600 mt-2">
                En nuestro enfoque cercano y comprometido, nos consideramos más que una empresa...
              </p>
            </div>
          </div>
        </div>
        <!-- Card 1 Ends -->
        <!-- Card 2 -->
        <div class="mx-2 w-72 lg:mb-0 mb-8 cursor-pointer">
          <div>
            <img src="./assets/help1.jpg" class="w-full h-44 rounded-t-xl"/>
          </div>
          <div class="bg-white rounded-b-xl">
            <div class="p-4">
              <h2 class="text-lg font-semibold text-center">¿Cuáles son los requisitos y procesos para trabajar en otros países?</h2>
              <p class="text-xs text-gray-600 mt-2">The Apple iPhone XS is available in 3 colors with 64GB memory. Shoot
                amazing videos</p>
            </div>
          </div>
        </div>
        <!-- Card 2 Ends -->
        <!-- Card 3  -->
        <div class="mx-2 w-72 lg:mb-0 mb-8 cursor-pointer">
          <div>
            <img src="./assets/help2.jpg" class="w-full h-44 rounded-t-xl"/>
          </div>
          <div class="bg-white rounded-b-xl">
            <div class="p-4">
              <h2 class="text-lg font-semibold text-center">¿Qué beneficios tiene irme a trabajar a otro país?
              </h2>
              <p class="text-xs text-gray-600 mt-2">The Apple iPhone XS is available in 3 colors with 64GB memory. Shoot
                amazing videos</p>
            </div>
          </div>
        </div>
        <!-- Card 3 Ends -->
        <!-- Card 4  -->
        <div class="mx-2 w-72 lg:mb-0 mb-8 cursor-pointer">
          <div>
            <img src="./assets/help3.jpg" class="w-full h-44 rounded-t-xl"/>
          </div>
          <div class="bg-white rounded-b-xl">
            <div class="p-4">
              <h2 class="text-lg font-semibold text-center">¿Puedo irme a trabjar al extranjero sin saber idiomas?</h2>
              <p class="text-xs text-gray-600 mt-2">The Apple iPhone XS is available in 3 colors with 64GB memory. Shoot
                amazing videos</p>
            </div>
          </div>
        </div>
        <!-- Card 4 Ends -->
      </div>
    </div>
  </div>
<app-footer></app-footer>
</div>
