
<h1 class="text-center text-sky-300 text-6xl p-10 mt-20 font-extrabold">AYUDA</h1>
<h3 class="text-gray-700 text-3xl text-center font-bold m-5">PREGUNTAS FRECUENTES</h3>

<div class="flex flex-col items-center justify-center align-middle md:block md:columns-2 xl:columns-4 mt-5 w-full px-5 md:px-14">
  <div class="flex flex-col items-start align-middle justify-center h-96 w-80 m-4">
    <img class="h-44 w-full" src="./assets/help1.jpg" alt="">
    <div class=" flex flex-col items-start justify-center align-middle">
      <h5 class="font-semibold text-black text-xl">¿Cuáles son mis habilidades?</h5>
      <p class="text-gray-600 text-lg">No se trata de que te enfrasques en un listado de calificativos positivos acerca
        de tus capacidades como empleado/a...</p>
    </div>
  </div>
  <div class="flex flex-col items-start align-middle justify-center h-96 w-80 m-4">
    <img class="h-44 w-full" src="./assets/help2.jpg" alt="">
    <div class=" flex flex-col items-start justify-center align-middle">
      <h5 class="font-semibold text-black text-xl">¿Por qué confiar en nosotros?</h5>
      <p class="text-gray-600 text-lg">En nuestra empresa, valoramos la cercanía con nuestros clientes y sabemos qué
        pasos dar en cada momento de su odisea...</p>
    </div>
  </div>
  <div class="flex flex-col items-start align-middle justify-center h-96 w-80 m-4">
    <img class="h-44 w-full" src="./assets/help3.jpg" alt="">
    <div class=" flex flex-col items-start justify-center align-middle">
      <h5 class="font-semibold text-black text-xl">¿Puedo irme a trabjar al extranjero sin saber idiomas?</h5>
      <p class="text-gray-600 text-lg">Definitivamente, ir a trabajar al extranjero sin saber idiomas es una aventura
        emocionante...</p>
    </div>
  </div>
  <div class="flex flex-col items-start align-middle justify-center h-96 w-80 m-4">
    <img class="h-44 w-full" src="./assets/help3.jpg" alt="">
    <div class=" flex flex-col items-start justify-center align-middle">
      <h5 class="font-semibold text-black text-xl">¿Qué documentación necesito en Austria?</h5>
      <p class="text-gray-600 text-lg">Definitivamente, ir a trabajar al extranjero sin saber idiomas es una aventura
        emocionante...</p>
    </div>
  </div>
  <div class="flex flex-col items-start align-middle justify-center h-96 w-80 m-4">
    <img class="h-44 w-full" src="./assets/help3.jpg" alt="">
    <div class=" flex flex-col items-start justify-center align-middle">
      <h5 class="font-semibold text-black text-xl">¿Qué documentación necesito en Países Bajos?</h5>
      <p class="text-gray-600 text-lg">Definitivamente, ir a trabajar al extranjero sin saber idiomas es una aventura
        emocionante...</p>
    </div>
  </div>
  <div class="flex flex-col items-start align-middle justify-center h-96 w-80 m-4">
    <img class="h-44 w-full" src="./assets/help3.jpg" alt="">
    <div class=" flex flex-col items-start justify-center align-middle">
      <h5 class="font-semibold text-black text-xl">¿Qué documentación necesito en Suiza?</h5>
      <p class="text-gray-600 text-lg">Definitivamente, ir a trabajar al extranjero sin saber idiomas es una aventura
        emocionante...</p>
    </div>
  </div>
  <div class="flex flex-col items-start align-middle justify-center h-96 w-80 m-4">
    <img class="h-44 w-full" src="./assets/help3.jpg" alt="">
    <div class=" flex flex-col items-start justify-center align-middle">
      <h5 class="font-semibold text-black text-xl">¿Qué beneficios tiene irme a trabajar fuera?</h5>
      <p class="text-gray-600 text-lg">Definitivamente, ir a trabajar al extranjero sin saber idiomas es una aventura
        emocionante...</p>
    </div>
  </div>
  <div class="flex flex-col items-start align-middle justify-center h-96 w-80 m-4">
    <img class="h-44 w-full" src="./assets/help3.jpg" alt="">
    <div class=" flex flex-col items-start justify-center align-middle">
      <h5 class="font-semibold text-black text-xl">¿Puedo irme a trabjar al extranjero sin saber idiomas?</h5>
      <p class="text-gray-600 text-lg">Definitivamente, ir a trabajar al extranjero sin saber idiomas es una aventura
        emocionante...</p>
    </div>
  </div>
</div>
