<div class="w-full h-full bg-gray-200">

  <h1 class="text-center text-sky-300 text-6xl p-10 pt-20 font-extrabold">AYUDA</h1>
  <h3 class="text-gray-700 text-3xl text-center font-bold m-5">PREGUNTAS FRECUENTES</h3>

  <!--
  <div
      class="flex flex-col items-center justify-center align-middle md:block md:columns-2 xl:columns-4 mt-5 w-full px-5 md:px-14">
      <div class="flex flex-col items-start align-middle justify-center h-96 w-80 m-4">
          <img class="h-44 w-full" src="./assets/help1.jpg" alt="">
          <div class=" flex flex-col items-start justify-center align-middle">
              <h5 class="font-semibold text-black text-xl">¿Cuáles son mis habilidades?</h5>
              <p class="text-gray-600 text-lg">No se trata de que te enfrasques en un listado de calificativos positivos
                  acerca
                  de tus capacidades como empleado/a...</p>
          </div>
      </div>
      <div class="flex flex-col items-start align-middle justify-center h-96 w-80 m-4">
          <img class="h-44 w-full" src="./assets/help2.jpg" alt="">
          <div class=" flex flex-col items-start justify-center align-middle">
              <h5 class="font-semibold text-black text-xl">¿Por qué confiar en nosotros?</h5>
              <p class="text-gray-600 text-lg">En nuestra empresa, valoramos la cercanía con nuestros clientes y sabemos
                  qué
                  pasos dar en cada momento de su odisea...</p>
          </div>
      </div>
      <div class="flex flex-col items-start align-middle justify-center h-96 w-80 m-4">
          <img class="h-44 w-full" src="./assets/help3.jpg" alt="">
          <div class=" flex flex-col items-start justify-center align-middle">
              <h5 class="font-semibold text-black text-xl">¿Puedo irme a trabjar al extranjero sin saber idiomas?</h5>
              <p class="text-gray-600 text-lg">Definitivamente, ir a trabajar al extranjero sin saber idiomas es una
                  aventura
                  emocionante...</p>
          </div>
      </div>
      <div class="flex flex-col items-start align-middle justify-center h-96 w-80 m-4">
          <img class="h-44 w-full" src="./assets/help3.jpg" alt="">
          <div class=" flex flex-col items-start justify-center align-middle">
              <h5 class="font-semibold text-black text-xl">¿Qué documentación necesito en Austria?</h5>
              <p class="text-gray-600 text-lg">Definitivamente, ir a trabajar al extranjero sin saber idiomas es una
                  aventura
                  emocionante...</p>
          </div>
      </div>
      <div class="flex flex-col items-start align-middle justify-center h-96 w-80 m-4">
          <img class="h-44 w-full" src="./assets/help3.jpg" alt="">
          <div class=" flex flex-col items-start justify-center align-middle">
              <h5 class="font-semibold text-black text-xl">¿Qué documentación necesito en Países Bajos?</h5>
              <p class="text-gray-600 text-lg">Definitivamente, ir a trabajar al extranjero sin saber idiomas es una
                  aventura
                  emocionante...</p>
          </div>
      </div>
      <div class="flex flex-col items-start align-middle justify-center h-96 w-80 m-4">
          <img class="h-44 w-full" src="./assets/help3.jpg" alt="">
          <div class=" flex flex-col items-start justify-center align-middle">
              <h5 class="font-semibold text-black text-xl">¿Qué documentación necesito en Suiza?</h5>
              <p class="text-gray-600 text-lg">Definitivamente, ir a trabajar al extranjero sin saber idiomas es una
                  aventura
                  emocionante...</p>
          </div>
      </div>
      <div class="flex flex-col items-start align-middle justify-center h-96 w-80 m-4">
          <img class="h-44 w-full" src="./assets/help3.jpg" alt="">
          <div class=" flex flex-col items-start justify-center align-middle">
              <h5 class="font-semibold text-black text-xl">¿Qué beneficios tiene irme a trabajar fuera?</h5>
              <p class="text-gray-600 text-lg">Definitivamente, ir a trabajar al extranjero sin saber idiomas es una
                  aventura
                  emocionante...</p>
          </div>
      </div>
      <div class="flex flex-col items-start align-middle justify-center h-96 w-80 m-4">
          <img class="h-44 w-full" src="./assets/help3.jpg" alt="">
          <div class=" flex flex-col items-start justify-center align-middle">
              <h5 class="font-semibold text-black text-xl">¿Puedo irme a trabjar al extranjero sin saber idiomas?</h5>
              <p class="text-gray-600 text-lg">Definitivamente, ir a trabajar al extranjero sin saber idiomas es una
                  aventura
                  emocionante...</p>
          </div>
      </div>
  </div>-->


  <div class="bg-gray-200">
    <!-- Remove py-8 -->
    <div class="mx-auto container py-8">
      <div class="flex flex-wrap items-center lg:justify-between justify-center">
        <!-- Card 1 -->
        <div class="mx-2 w-72 lg:mb-0 mb-8">
          <div>
            <img src="./assets/help1.jpg" class="w-full h-44 rounded-t-xl"/>
          </div>
          <div class="bg-white rounded-b-xl">
            <div class="p-4">
              <h2 class="text-lg font-semibold text-center">¿Cuáles son mis habilidades?</h2>
              <p class="text-xs text-gray-600 mt-2">
                No se trata de que te enfrasques en un listado de calificativos positivos acerca de tus capacidades como empleado/a...
              </p>
            </div>
          </div>
        </div>
        <!-- Card 1 Ends -->
        <!-- Card 2 -->
        <div class="mx-2 w-72 lg:mb-0 mb-8">
          <div>
            <img src="./assets/help2.jpg" class="w-full h-44 rounded-t-xl"/>
          </div>
          <div class="bg-white rounded-b-xl">
            <div class="p-4">
              <h2 class="text-lg font-semibold text-center">¿Por qué confiar en nosotros?</h2>
              <p class="text-xs text-gray-600 mt-2">
                En nuestra empresa, valoramos la cercanía con nuestros clientes y sabemos qué
                pasos dar en cada momento de su odisea...
              </p>
            </div>
          </div>
        </div>
        <!-- Card 2 Ends -->
        <!-- Card 3  -->
        <div class="mx-2 w-72 lg:mb-0 mb-8">
          <div>
            <img src="./assets/help2.jpg" class="w-full h-44 rounded-t-xl"/>
          </div>
          <div class="bg-white rounded-b-xl">
            <div class="p-4">
              <h2 class="text-lg font-semibold text-center">¿Puedo irme a trabjar al extranjero sin saber idiomas?</h2>
              <p class="text-xs text-gray-600 mt-2">
                Definitivamente, ir a trabajar al extranjero sin saber idiomas es una aventura emocionante...
              </p>
            </div>
          </div>
        </div>
        <!-- Card 3 Ends -->
        <!-- Card 4  -->
        <div class="w-72 mx-2 lg:mb-0 mb-8">
          <div>
            <img src="./assets/help3.jpg" class="w-full h-44 rounded-t-xl"/>
          </div>
          <div class="bg-white rounded-b-xl">
            <div class="p-4">
              <h2 class="text-lg font-semibold text-center">¿Qué documentación necesito?</h2>
              <p class="text-xs text-gray-600 mt-2">
                The Apple iPhone XS is available in 3 colors with 64GB memory. Shoot
                amazing videos
              </p>
            </div>
          </div>
        </div>
        <!-- Card 4 Ends -->
      </div>
      <div class="flex flex-wrap items-center lg:justify-between justify-center pb-10 mt-16">
        <!-- Card 1 -->
        <div class="mx-2 w-72 lg:mb-0 mb-8">
          <div>
            <img src="./assets/help3.jpg" class="w-full h-44 rounded-t-xl"/>
          </div>
          <div class="bg-white rounded-b-xl">
            <div class="p-4">
              <h2 class="text-lg font-semibold text-center">¿Qué beneficios tiene irme a trabajar fuera?</h2>
              <p class="text-xs text-gray-600 mt-2">
                Definitivamente, ir a trabajar al extranjero sin saber idiomas es una aventura emocionante...
              </p>
            </div>
          </div>
        </div>
        <!-- Card 1 Ends -->
        <!-- Card 2 -->
        <div class="mx-2 w-72 lg:mb-0 mb-8">
          <div>
            <img src="./assets/help1.jpg" class="w-full h-44 rounded-t-xl"/>
          </div>
          <div class="bg-white rounded-b-xl">
            <div class="p-4">
              <h2 class="text-lg font-semibold text-center">¿Puedo irme a trabjar al extranjero sin saber idiomas?</h2>
              <p class="text-xs text-gray-600 mt-2">The Apple iPhone XS is available in 3 colors with 64GB memory. Shoot
                amazing videos</p>
            </div>
          </div>
        </div>
        <!-- Card 2 Ends -->
        <!-- Card 3  -->
        <div class="mx-2 w-72 lg:mb-0 mb-8">
          <div>
            <img src="./assets/help2.jpg" class="w-full h-44 rounded-t-xl"/>
          </div>
          <div class="bg-white rounded-b-xl">
            <div class="p-4">
              <h2 class="text-lg font-semibold text-center">¿Puedo irme a trabjar al extranjero sin saber idiomas?</h2>
              <p class="text-xs text-gray-600 mt-2">The Apple iPhone XS is available in 3 colors with 64GB memory. Shoot
                amazing videos</p>
            </div>
          </div>
        </div>
        <!-- Card 3 Ends -->
        <!-- Card 4  -->
        <div class="mx-2 w-72 lg:mb-0 mb-8">
          <div>
            <img src="./assets/help3.jpg" class="w-full h-44 rounded-t-xl"/>
          </div>
          <div class="bg-white rounded-b-xl">
            <div class="p-4">
              <h2 class="text-lg font-semibold text-center">¿Puedo irme a trabjar al extranjero sin saber idiomas?</h2>
              <p class="text-xs text-gray-600 mt-2">The Apple iPhone XS is available in 3 colors with 64GB memory. Shoot
                amazing videos</p>
            </div>
          </div>
        </div>
        <!-- Card 4 Ends -->
      </div>
    </div>
  </div>

</div>
