<div class="flex flex-col md:flex-row justify-center align-middle items-center gap-10">
    <div class="flex flex-col items-center md:items-start gap-5 m-5">
        <img [src]="logo" alt="" style="max-width: 200px;">
        <div class="flex flex-col items-start align-middle">
            <h1 class="text-sky-300 text-xl md:text-5xl font-extrabold" id="titulo">EL EMPUJÓN QUE NECESITABAS</h1>
            <h2 class="text-white text-lg md:text-3xl" id="subtitulo">para cumplir tus sueños</h2>
        </div>
    </div>
    <div class="rounded-xl m-5">
        <iframe class="w-full h-full rounded-xl " src="https://www.youtube.com/embed/Mmnrl4dGax8" frameborder="0" allowfullscreen></iframe>
    </div>
    
</div>
<div class="flex flex-col justify-center items-center align-middle mb-16 mt-24">
    <h3 class="text-gray-600 m-7 text-lg md:text-2xl font-bold">PAÍSES CON LOS QUE COLABORAMOS</h3>
    <div class="flex flex-row align-middle items-center justify-center gap-10">
        <svg class="w-14 md:w-28" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 6 4">
            <path d="M0 0L6 0 6 4 0 4z" fill="#ad1519" />
            <path d="M0 1L6 1 6 3 0 3z" fill="#fabd00" />
        </svg>
        <img [src]="holanda" alt="" class="w-14 md:w-28" >
        <img [src]="austria" alt="" class="w-14 md:w-28">
        <img [src]="suiza" alt="" class="w-14 md:w-32">
    </div>
</div>
<div class="flex flex-col justify-center items-center align-middle m-7">
    <h3 class="text-gray-800 m-4 text-lg md:text-2xl font-bold">¡TRES BUENAS RAZONES PARA SEGUIR LEYENDO!</h3>
    <div class="flex flex-col md:flex-row align-middle items-center justify-center gap-10 m-7">
        <div class="flex flex-col align-middle items-start justify-center gap-3 text-gray-800">
            <h4 class="underline font-semibold">BUSCA UNA OPORTUNIDAD</h4>
            <p>Las oportunidades hay que atraparlas, y nosotros te ayudamos a encontrar la oportunidad que de un giro a tu vida.
                Dicen que las oportunidades no son producto de la casualidad, más bien son el resultado del trabajo, 
                y nosotros trabajamos duro para brindarte las mejores oportunidades para que se ajusten a ti y tus necesidades.
            </p>
        </div>
        <div class="flex flex-col align-middle items-start justify-center gap-3 text-gray-800">
            <h4 class="underline font-semibold">ENCUENTRA TRABAJO</h4>
            <p>Encontrar trabajo hoy en día puede ser una odisea, no obstante, nosotros tenemos una variedad de ofertas, con las cuales podrás incluso elegir, 
                puedes elegir el trabajo en e cual sientas que tus habilidades encajaran, nadie mejor que tú para saber lo que vales y te mereces.
            </p>
        </div>
        <div class="flex flex-col align-middle items-start justify-center gap-3 text-gray-800">
            <h4 class="underline font-semibold">CUMPLE TUS SUEÑOS</h4>
            <p>A veces, la diferencia entre cumplir tu sueño y no cumplirlo, es simplemente dar el primer paso, 
                y con nosotros vas a dar ese paso que tanto cuesta, 
                el cual te acerque a esos sueños que quieres que se cumplan y te den la felicidad y tranquilidad que buscas.
            </p>
        </div>
    </div>
</div>