<div id="home" class="bg-no-repeat bg-center bg-cover bg-fixed w-full h-full"
     style="background-image: url('../../assets/fondoHome.jpg');">
  <div class="bg-white bg-opacity-75">
    <div id="header-home" class=" p-10 gradient">
      <div class="flex flex-col md:flex-row justify-center align-middle items-center lg:p-10 lg:mt-24 lg:gap-52">
        <div class="flex flex-col items-center md:items-start gap-5 m-5">
          <img [src]="logo" alt="" style="max-width: 320px;">
          <div class="flex flex-col items-start align-middle">
            <h1 class="text-white text-xl md:text-5xl font-extrabold" id="titulo">EL EMPUJÓN QUE NECESITABAS</h1>
            <h2 class="text-white text-lg md:text-3xl" id="subtitulo">para cumplir tus sueños</h2>
          </div>
        </div>
        <div class="rounded-xl m-5">
          <iframe class=" rounded-xl w-full h-full md:h-52 md:w-96" src="https://www.youtube.com/embed/Mmnrl4dGax8" frameborder="0"
                  allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <div class="relative -mt-12 lg:-mt-24 gradient">
      <svg viewBox="0 0 1428 174" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g transform="translate(-2.000000, 44.000000)" fill="#FFFFFF" fill-rule="nonzero">
            <path d="M0,0 C90.7283404,0.927527913 147.912752,27.187927 291.910178,59.9119003 C387.908462,81.7278826 543.605069,89.334785 759,82.7326078 C469.336065,156.254352 216.336065,153.6679 0,74.9732496" opacity="0.100000001"></path>
            <path d="M100,104.708498 C277.413333,72.2345949 426.147877,52.5246657 546.203633,45.5787101 C666.259389,38.6327546 810.524845,41.7979068 979,55.0741668 C931.069965,56.122511 810.303266,74.8455141 616.699903,111.243176 C423.096539,147.640838 250.863238,145.462612 100,104.708498 Z" opacity="0.100000001"></path>
            <path d="M1046,51.6521276 C1130.83045,29.328812 1279.08318,17.607883 1439,40.1656806 L1439,120 C1271.17211,77.9435312 1140.17211,55.1609071 1046,51.6521276 Z" id="Path-4" opacity="0.200000003"></path>
          </g>
          <g transform="translate(-4.000000, 76.000000)" fill="#FFFFFF" fill-rule="nonzero">
            <path d="M0.457,34.035 C57.086,53.198 98.208,65.809 123.822,71.865 C181.454,85.495 234.295,90.29 272.033,93.459 C311.355,96.759 396.635,95.801 461.025,91.663 C486.76,90.01 518.727,86.372 556.926,80.752 C595.747,74.596 622.372,70.008 636.799,66.991 C663.913,61.324 712.501,49.503 727.605,46.128 C780.47,34.317 818.839,22.532 856.324,15.904 C922.689,4.169 955.676,2.522 1011.185,0.432 C1060.705,1.477 1097.39,3.129 1121.236,5.387 C1161.703,9.219 1208.621,17.821 1235.4,22.304 C1285.855,30.748 1354.351,47.432 1440.886,72.354 L1441.191,104.352 L1.121,104.031 L0.457,34.035 Z"></path>
          </g>
        </g>
      </svg>
    </div>
    <div class="flex flex-col justify-center items-center align-middle mb-16 mt-24">
      <h3 class="text-gray-600 m-7 text-lg md:text-2xl font-bold">PAÍSES CON LOS QUE COLABORAMOS</h3>
      <div class="flex flex-row align-middle items-center justify-center gap-10">
        <img [src]="holanda" alt="" class="w-14 md:w-28">
        <img [src]="austria" alt="" class="w-14 md:w-28">
        <img [src]="suiza" alt="" class="w-14 md:w-32">
      </div>
    </div>
    <div class="flex flex-col justify-center items-center align-middle m-7">
      <h3 class="text-gray-800 m-4 text-lg md:text-2xl font-bold">¡TRES BUENAS RAZONES PARA SEGUIR LEYENDO!</h3>
      <div class="flex flex-col md:flex-row align-middle items-center justify-center gap-10 m-7">
        <div class="flex flex-col align-middle items-start justify-center gap-3 text-gray-800">
          <h4 class="underline font-semibold">BUSCA UNA OPORTUNIDAD</h4>
          <p class="text-justify">Las oportunidades hay que atraparlas, y nosotros te ayudamos a encontrar la oportunidad que de un
            giro a tu vida.
            Dicen que las oportunidades no son producto de la casualidad, más bien son el resultado del trabajo,
            y nosotros trabajamos duro para brindarte las mejores oportunidades para que se ajusten a ti y tus
            necesidades.
          </p>
        </div>
        <div class="flex flex-col align-middle items-start justify-center gap-3 text-gray-800">
          <h4 class="underline font-semibold">ENCUENTRA TRABAJO</h4>
          <p class="text-justify">Encontrar trabajo hoy en día puede ser una odisea, no obstante, nosotros tenemos una variedad de
            ofertas, con las cuales podrás incluso elegir,
            puedes elegir el trabajo en e cual sientas que tus habilidades encajaran, nadie mejor que tú para
            saber lo que vales y te mereces.
          </p>
        </div>
        <div class="flex flex-col align-middle items-start justify-center gap-3 text-gray-800">
          <h4 class="underline font-semibold">CUMPLE TUS SUEÑOS</h4>
          <p class="text-justify">A veces, la diferencia entre cumplir tu sueño y no cumplirlo, es simplemente dar el primer paso,
            y con nosotros vas a dar ese paso que tanto cuesta,
            el cual te acerque a esos sueños que quieres que se cumplan y te den la felicidad y tranquilidad que
            buscas.
          </p>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>

</div>
