@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');

#titulo {
    font-family: 'Mulish', sans-serif;
}

#subtitulo {
    font-family: 'Mulish', sans-serif;
}

.gradient {
  background: linear-gradient(90deg, #33afd5 0%, #5181da 100%);
}
