<div id="home" class=" w-full h-full">
  <div class="bg-white bg-opacity-75">
    <div id="header-home" class=" p-10 gradient">
      <div class="flex flex-col md:flex-row justify-center align-middle items-center lg:p-10 lg:mt-24 lg:gap-52">
        <div class="flex flex-col items-center md:items-start gap-5 m-5">
          <img class="fade-in" [src]="logo" alt="" style="max-width: 320px;">
          <div class="flex flex-col items-start align-middle fade-in">
            <h1 class="text-white text-xl md:text-5xl font-extrabold slide-in-bottom-h1" id="titulo" >EL EMPUJÓN QUE NECESITABAS</h1>
            <h2 class="text-white text-lg md:text-3xl slide-in-bottom-subtitle" id="subtitulo">para cumplir tus sueños</h2>
          </div>
        </div>
        <div class="rounded-xl m-5 fade-in">
          <iframe class=" rounded-xl w-full h-full md:h-52 md:w-96" src="https://www.youtube.com/embed/Mmnrl4dGax8"
            frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <div class="relative  gradient -mt-10 b-0">
      <svg viewBox="0 0 1428 174" version="1.1" xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g transform="translate(-2.000000, 44.000000)" fill="#FFFFFF" fill-rule="nonzero">
            <path
              d="M0,0 C90.7283404,0.927527913 147.912752,27.187927 291.910178,59.9119003 C387.908462,81.7278826 543.605069,89.334785 759,82.7326078 C469.336065,156.254352 216.336065,153.6679 0,74.9732496"
              opacity="0.100000001"></path>
            <path
              d="M100,104.708498 C277.413333,72.2345949 426.147877,52.5246657 546.203633,45.5787101 C666.259389,38.6327546 810.524845,41.7979068 979,55.0741668 C931.069965,56.122511 810.303266,74.8455141 616.699903,111.243176 C423.096539,147.640838 250.863238,145.462612 100,104.708498 Z"
              opacity="0.100000001"></path>
            <path
              d="M1046,51.6521276 C1130.83045,29.328812 1279.08318,17.607883 1439,40.1656806 L1439,120 C1271.17211,77.9435312 1140.17211,55.1609071 1046,51.6521276 Z"
              id="Path-4" opacity="0.200000003"></path>
          </g>
          <g transform="translate(-4.000000, 76.000000)" fill="#FFFFFF" fill-rule="nonzero">
            <path
              d="M0.457,34.035 C57.086,53.198 98.208,65.809 123.822,71.865 C181.454,85.495 234.295,90.29 272.033,93.459 C311.355,96.759 396.635,95.801 461.025,91.663 C486.76,90.01 518.727,86.372 556.926,80.752 C595.747,74.596 622.372,70.008 636.799,66.991 C663.913,61.324 712.501,49.503 727.605,46.128 C780.47,34.317 818.839,22.532 856.324,15.904 C922.689,4.169 955.676,2.522 1011.185,0.432 C1060.705,1.477 1097.39,3.129 1121.236,5.387 C1161.703,9.219 1208.621,17.821 1235.4,22.304 C1285.855,30.748 1354.351,47.432 1440.886,72.354 L1441.191,104.352 L1.121,104.031 L0.457,34.035 Z">
            </path>
          </g>
        </g>
      </svg>
    </div>

    <section class="pb-20  ">
      <div class=" px-4">
        <div class="flex flex-wrap">
          <div class=" pt-6 w-full md:w-4/12 px-4 text-center">
            <div
              class="relative flex flex-col min-w-0 break-words gradient text-white w-full mb-8 shadow-lg rounded-lg">
              <div class="px-4 py-5 flex-auto">
                <div
                  class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-red-400">
                  <svg class="h-8 w-8 text-white"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <path d="M16 10h4a2 2 0 0 1 0 4h-4l-4 7h-3l2 -7h-4l-2 2h-3l2-4l-2 -4h3l2 2h4l-2 -7h3z" /></svg>                </div>
                <h6 class="text-xl font-semibold">BUSCA UNA OPORTUNIDAD</h6>
                <p class="mt-2 mb-4 text-white text-center">
                  Las oportunidades hay que atraparlas, y nosotros te ayudamos a encontrar la
                  oportunidad que de un
                  giro a tu vida.
                  Dicen que las oportunidades no son producto de la casualidad, más bien son el resultado del trabajo,
                  y nosotros trabajamos duro para brindarte las mejores oportunidades para que se ajusten a ti y tus
                  necesidades.
                </p>
              </div>
            </div>
          </div>
          <div class="pt-6 md:pt-0 w-full md:w-4/12 px-4 text-center">
            <div
              class="relative flex flex-col min-w-0 break-words gradient text-white w-full mb-8 shadow-lg rounded-lg">
              <div class="px-4 py-5 flex-auto">
                <div
                  class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-green-400">
                  <svg class="h-8 w-8 text-white"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m5.618-4.016A11.955 11.955 0 0112 2.944a11.955 11.955 0 01-8.618 3.04A12.02 12.02 0 003 9c0 5.591 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.042-.133-2.052-.382-3.016z"/>
                  </svg>
                                  </div>
                <h6 class="text-xl font-semibold">ENCUENTRA TRABAJO</h6>
                <p class="mt-2 mb-4 text-white text-justify">
                  Buscar empleo en la actualidad puede resultar todo un desafío. Sin embargo, en nuestro caso, ofrecemos una amplia gama de oportunidades laborales entre las que podrás seleccionar aquella que mejor se ajuste a tus habilidades. Nadie mejor que tú para conocer tu propio valor y lo que te mereces.
                </p>
              </div>
            </div>
          </div>
          <div class="pt-6 w-full md:w-4/12 px-4 text-center">
            <div
              class="relative flex flex-col min-w-0 break-words gradient text-white w-full mb-8 shadow-lg rounded-lg">
              <div class="px-4 py-5 flex-auto">
                <div
                  class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-yellow-300">
                  <svg class="h-8 w-8 text-white"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <path d="M12 17.75l-6.172 3.245 1.179-6.873-4.993-4.867 6.9-1.002L12 2l3.086 6.253 6.9 1.002-4.993 4.867 1.179 6.873z" /></svg>
                </div>
                <h6 class="text-xl font-semibold">CUMPLE TUS SUEÑOS</h6>
                <p class="mt-2 mb-4 text-white text-justify">
                  A veces, la diferencia entre cumplir tu sueño y no cumplirlo, es simplemente dar el
                  primer paso,
                  y con nosotros vas a dar ese paso que tanto cuesta,
                  el cual te acerque a esos sueños que quieres que se cumplan y te den la felicidad y tranquilidad que
                  buscas.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <app-footer></app-footer>

  </div>
</div>
